[Unit]
Description=P1 Exporter Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/p1-exporter -listen=localhost:9929 -loglevel=info

Restart=always

[Install]
WantedBy=multi-user.target
